#banner-img {
  background-image: url(../assets/images/code.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

#me-img {
  padding: 3px;
  background: $white;
  border: 2px solid $darker-white;
}
