
@media (min-width: 520px) {
  div.contact-container {
    width: 500px;
  }

  #message {
    height: 200px;
  }
}

@media (max-width: 519px) {
  div.contact-container {
    width: 85vw;
  }

  #message {
    height: 30vh;
  }
}

.contact-container {
  padding: 20px;

  .input-lg {
    margin-bottom: 15px;
  }
}

body.modal-open {
    overflow: visible;
}

#validation-text {
  display: none;
  color: red;
  font-size: 12px;
}

label {
  font-size: 16px;
  float: left;
  margin-bottom: 4px;
}
