.footer p {
  color: $white;
}

footer {
  margin-top: 2%;
  width: 100%;
  background-color: $black;
  padding: 10px;
  overflow: hidden;

  p {
    color: $white;
  }

  a {
    color: $black;
  }
}
