.project-container {
  max-height: 100%;

  p, span, a {
    font-size: 16px;
  }
}

.hidden-project-row {
  padding-top: 10px;
}

.hidden-project-row {
  @include hide();
}

.hidden-project-row.unhidden {
  @include unhide();
}

.language-tag {
  span {
    padding: 4px;
    border-radius: 15%;
    border: 1px solid $darker-white;
    font-size: 12px;
  }

  div {
    padding-top: 10px;
    border: none;
  }
}
