div.technologies {
  padding: 10px;
  font-size: 20px;

  &:before {
    content: "⁍ ";
  }
}

.hidden-technology-row {
  margin-top: 20px;
}

.hidden-technology-row div {
  @include hide();
}

.hidden-technology-row.unhidden div {
  @include unhide();
}
